.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
:root {  
    --primary-color: #f5f1f1;/* warm white */
    --secondary-color: #4F829A; /* chalk blue */
    --accent-color: #D14339; /* bright red */
    --text-color: #040417;/* jet black */
    --background-color: #5f5e5e; /* grey */
    --heading-font:"Abel", "sans-serif";
    --body-font: 'Caveat', 'Lobster';
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {  
    font-family: var(--body-font);  
    margin: 0;  
    padding: 0;  
    background-color: var(--primary-color); 
    color: var(--text-color);
}  
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;    
    background-color: var(--text-color);  
    padding: 20px;
    grid-template-columns: auto 1fr;
    align-items: center;  
    justify-content: space-between;  
}  

.logo img {  
    width: 100px; 
}  

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

nav ul {  
    list-style: none;
    display: flex; 
    justify-content: flex-end;   
}  

nav ul li {  
    margin: 0 10px;  
}  

nav ul li a {  
    color: #a1c0ce;  
    text-decoration: none;  
}  

.hero {  
    position: relative;  
    background-image: url('https://byui-cse.github.io/wdd130-ww-course/resources/images/rafting60_1024.jpg'); 
    background-size: cover;  
    height: 300px; 
    display: flex; 
    font-size: larger; 
    align-items: center;  
    justify-content: center;  
    text-align: center; 
    padding: 40px 20px; 
}  

h1 {  
     position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    position: relative;  
    color: var(--text-color);  
    font-size: 4em;
}    

.hero h2 {  
    font-family:  'Caveat', 'Lobster';
    position: relative;
    color: var(--text-color);
    font-size: 1.5em;
    }    

article {  
    position: absolute;  
    bottom: 20px; 
    left: 20px;  
    padding: 20px;  
    border-radius: 8px;  
    color: var(--text-color);  
}  

.client-image { 
    display: block;
    height: auto; 
    float: right; 
    width: 125px; 
    margin-left: 50px;  
    max-width: 100%; 
    border-radius: 50%; 
}  
.history {  
    background-color: #dae3e7;  
    padding: 20px;  
}  

.history-content {  
    display: grid;  
    grid-template-columns: auto 1fr auto; 
    gap: 20px;  
}  

.image-container:hover {  
    display: flex; 
    justify-content: center;   
    align-items: center;
}

.history-img {  
    width: 150px;   
    max-width: 250px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s; 
    transform: scale(1.1);
}  

h2 {  
    font-family: 'Abel', sans-serif;
    color: var(--text-color);  
    text-align: center;  
}  
.Adventure {  
    padding: 20px;  
}  

.Adventure-h2 {  
    text-align: center;  
}  

.Adventure-gallery {  
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));  
    gap: 20px;  
}  

.Adventure-gallery figure {  
    text-align: center;  
}  

.Adventure-gallery img {    
    width: 100%;  
}  

.Adventure-gallery figcaption {   
    font-size: 0.9em;  
}  

footer {  
    background-color: var(--background-color);  
    color: #fff;  
    text-align: center;  
    padding: 10px 0;
    position: relative;  
}  

footer p {
    margin: 0;
}

footer ul.social-media {  
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;  
}  

footer ul.social-media li {  
    margin-left: 15px;  
    display: flex; 
    align-items: center; 
}  

footer img {  
    width: 30px; 
    height: auto;
    margin-right: 5px;
}  
footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}
.company-info p {  
    font-size: 1.2em;  
}  
.employees {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: left;   
}  

h3 {
    font-size: 1.5em;
}

.employees figure { 
    display: inline-block;
    padding: 50px;  
    margin: 10px;  
    width: 150px;
    text-align: center; 
} 

form {  
    margin-top: 20px;  
}  

label[for="inquiry"] {  
    display: block;
    margin-top: 10px; 
}
label[for="message"] {  
    display: block; 
}  

textarea {  
    vertical-align: top; 
}  
iframe {  
    filter: brightness(0.8);
}  
.newsletter-subscription {  
    display: block; 
    margin-top: 10px;
}